@model ProductModel
@{
    var specs = Model.Specifications;
}

<tr>
    <td colspan="2" style="background-color:#85C1E9">Rated (Min/Max):</td>
    <td colspan="2" style="background-color:#85C1E9">@specs.GetDecimal("CoolingCapacityRated", "N0") (@specs.GetDecimal("CoolingCapacityMin", "N0") / @specs.GetDecimal("CoolingCapacityMax", "N0"))</td>
</tr>
<tr>
    <td colspan="2" style="background-color:#85C1E9">Sensible - AHRI:</td>
    <td colspan="2" style="background-color:#85C1E9">@specs.GetDecimal("CoolingCapacitySensible", "N0")</td>
</tr>
<tr>
    <td colspan="2" style="background-color:#85C1E9">Moisture Removal (Gal/Hr):</td>
    <td colspan="2" style="background-color:#85C1E9">@specs.GetDecimal("MoistureRemovalRate", "N1")</td>
</tr>
<tr>
    <td colspan="2" style="background-color:#85C1E9">Standard Operating Range:</td>
    <td colspan="2" style="background-color:#85C1E9">@specs.GetDecimal("CoolingOperationRangeStdMin", "N0")&deg;F - @specs.GetDecimal("CoolingOperationRangeStdMax", "N0")&deg;F</td>
</tr>
<tr>
    <td colspan="2" style="background-color:#85C1E9">Extended Operating Range:</td>
    <td colspan="2" style="background-color:#85C1E9">@specs.GetDecimal("CoolingOperationRangewBaffleMin", "N0")&deg;F - @specs.GetDecimal("CoolingOperationRangewBaffleMax", "N0")&deg;F</td>
</tr>
<tr>
    <td colspan="2"style="background-color:#85C1E9">Rated Cooling Conditions:</td>
    <td colspan="2"style="background-color:#85C1E9">
        Indoor (&deg;F DB/DB): @specs.GetDecimal("RatedCoolingConditionRoomDB", "N0") / @specs.GetDecimal("RatedCoolingConditionRoomWB", "N0")
        <br />
        Ambient (&deg;F DB/WB): @specs.GetDecimal("RatedCoolingConditionAmbientDB", "N0") / @specs.GetDecimal("RatedCoolingConditionAmbientWB", "N0")
    </td>
</tr>





