@model ProductModel
@{
    var specs = Model.Specifications;
}
<tr>
    <td colspan="4" align="center" style="background-color:#85C1E9">COOLING - Airfolw Rate (cfm):</td>
</tr>
<tr>
    <td style="background-color:#85C1E9">High: </td>
    <td style="background-color:#85C1E9">@specs.GetDecimal("AirFlowRateHighCooling", "N0")</td>
    <td style="background-color:#85C1E9">SuperLow: </td>
    <td style="background-color:#85C1E9">@specs.GetDecimal("AirFlowRateSuperLowCooling", "N0")</td>
</tr>
<tr>
    <td colspan="2">Compressor Stage:</td>
    <td colspan="2">@specs.GetString("CompressorStages")</td>
</tr>
<tr>
    <td>Refrigerant Type:</td>
    <td>@specs.GetString("RefrigerantType")</td>
    <td>Refrigerant Oil:</td>
    <td>@specs.GetString("RefrigerantOil")</td>
</tr>
<tr>
    <td colspan="2">Factory Charge (Lbs):</td>
    <td colspan="2">@specs.GetString("FactoryStdRefrigerantCharge")</td>
</tr>

<tr>
    <td colspan="2">Sound Pressure Level (dBA):</td>
    <td colspan="2">@specs.GetString("SoundPressureHighCooling")</td>
</tr>
<tr>
    <td colspan="2">Dimensions (HxWxD) (in):</td>
    <td colspan="2">@specs.GetString("DimensionsUnitHeight") x @specs.GetString("DimensionsUnitWidth") x @specs.GetString("DimensionsUnitDepth")</td>
</tr>
<tr>
    <td colspan="2">Net Weight (lb):</td>
    <td colspan="2">@specs.GetString("WeightUnit")</td>
</tr>
